@import "pikaday.css";

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

.panel {
    background-color: #fff;
    border-bottom:none;
    -webkit-box-shadow:  0 -4px 4px rgba(0,0,0,.25);
    -moz-box-shadow: 0 -4px 4px rgba(0,0,0,.25);
    box-shadow:  0 -4px 4px rgba(0,0,0,.25);
    padding-top:10px;
    z-index: 10;
    height: 100%;
    margin: 0;
}
.map-wrapper {
    padding: 0;
    height: 100%;
}


/*Styling of date picker */
input#date {
    display: none;
}
.pika-single {
    color: #2c3e50;
    width: 258px;
    margin: 0 auto 10px;
}
.is-today .pika-button {
    color: #18bc9c;
}
.is-selected .pika-button {
    background: #18bc9c;
}
.pika-button:hover {
    color: #fff;
    background: #2c3e50;
}
.pika-table abbr {
    border-bottom: none;
    cursor: help;
    text-decoration: none;
}

.cluster {
    max-width: 250px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-right: 10px;
    position: relative;
    margin-top:5px;
}
.cluster:after {
    content: '';
    display: table;
    clear: left;
}
.cluster .terms {
    display: none;
    padding: 10px;
    width: 180px;
    border-radius: 10px;

}

.cluster .terms span{
    margin-right: 10px;
    float: left;
}

.cluster:hover .terms {
    display: block;
    top: 20px;
    left: 10px;
    position: absolute;
    background: #f5f5f5;
    z-index: 1000;
}

.cluster:first-child, .cluster:nth-child(2), .cluster:nth-child(3) {
    opacity: 0.8;
    border-radius: 0;
    float: none;
    width: auto;
    height: auto;
    background: none !important;
    max-width: 100%;
}
.cluster:first-child .terms, .cluster:nth-child(2) .terms, .cluster:nth-child(3) .terms{
    display: block;
    position: relative !important;
    top: auto;
    left: auto;
    width: auto;
    padding: 0;
}
.cluster:first-child {
    /*margin: 0 auto 10px;*/

}
.cluster:nth-child(2) {
    /*float: right;*/
}

.cluster-wrap:after {
    content: '';
    clear: both;
}

#map {
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 100%;
    box-shadow: 0 1px 0px rgba(0,0,0,.25);
}

#d3map {
    /*pointer-events: none;*/
    -webkit-transform: none;
    position: relative;
    top: 0px;
    left: 0px;
}

#d3map svg, #dataLayer svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
}
/* Styling Google Map */

.gm-svpc {
    display: none;
}

#countries path {
    stroke-width: 0px;
    vector-effect: non-scaling-stroke;
    fill: #000;
    stroke: #ddd;
    opacity: 0.08;
    -webkit-transition: fill 0.3s ease; /* Safari */
    transition: fill 0.3s ease;
}

#countries path.available {
    fill: transparent;
    opacity: 0.15;
    stroke-width: 1px;
    stroke: #2c3e50;
}

#countries path.available.focus {
    fill: transparent;
    stroke: #18bc9c;
    opacity: 1;
    stroke-width: 2px;
}

#countries path.available.hover {
    fill: #18bc9c;
    opacity: 0.3;
    stroke-width: 1px;
    stroke: #2c3e50;
}

#countries path.available.focus:hover {
    fill: transparent;
    stroke: #2c3e50;
    opacity: 0.3;
}

.locations path {
    opacity: 0.7;
}

.locations path:hover {
    cursor: pointer;
}

#example-tweet {
    display: none;
    position: absolute;
    color: white;
    font-size: 12px;
    background: rgba(44, 62, 80, 0.9);
    width: 200px;
    padding: 10px;
    border-radius: 6px;
    z-index:1000;
}

.date-picker-wrap {
    min-height:550px;
}

.gmap-twitterlink {
    display: block;
    padding: 1em;
}

#alg-option {
    clear: left;
}

