@import "pikaday.css";

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.panel {
    background-color: #fff;
}
#map {
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 100%;
}

#d3map {
    /*pointer-events: none;*/
    -webkit-transform: none;
    position: relative;
    top: 0px;
    left: 0px;
}

#d3map svg {
    position: absolute;
    top: -4000px;
    left: -4000px;
}
/* Styling Google Map */

.gm-svpc {
    display: none;
}

#countries path {
    stroke-width: 0px;
    vector-effect: non-scaling-stroke;
    fill: transparent;
    stroke: #ddd;
    opacity: 0;
    -webkit-transition: fill 0.3s ease; /* Safari */
    transition: fill 0.3s ease;
}

#countries path.active {
    fill: #18bc9c;
    opacity: 0.3;
    stroke-width: 1px;
    stroke: #2c3e50;
}

#countries path.hover {
    opacity: 0.15;
    stroke-width: 1px;
    stroke: #2c3e50;
}

#countries path.hover.active {
    opacity: 0.4;
}
