// import custom css
@import "bootstrap.less";

/* Custom page CSS
-------------------------------------------------- */

body {
  padding-top: 70px;
}

a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
}

.navbar {
  background: @gray-base;
  border: none;
}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  font-size: 18px;
  font-weight: bold;
  color: @nav-text-color;
  margin: 5px;
  border-radius: 5px;
  padding: 18px 20px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: @nav-text-color;
}

.navbar-default .navbar-nav > li > a:hover {
  color: @brand-primary;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover {
  background: #000;
  color: @brand-primary;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: @brand-primary;
}

.footer p {
  color: @nav-text-color;
}


