// import custom css
@import "bootstrap.less";

/* Custom page CSS
-------------------------------------------------- */

html, body {
  height: 100%;
}

body {
  padding-top: 54px;
  padding-bottom: 30px;
  margin: 0 !important;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
}

.navbar {
  background: @gray-base;
  border: none;
}


.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  font-weight: 300;
  color: @nav-text-color;
  margin: 7px;
  border-radius: 5px;
  padding: 10px 20px 10px;
  -webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;;
}

.navbar-default .navbar-brand {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding: 10px 20px 10px;
}

.navbar-brand > img {
  width: 180px;
  margin-top: -2px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: @nav-text-color;
}

.navbar-default .navbar-nav > li > a:hover {
  color: @brand-primary;
}
.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover {
  background-color: inherit;
  color: @brand-primary;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: @brand-primary;
}

.footer .container p {
  color: @nav-text-color;
  font-size: 14px;
  padding: 4px 20px;
  margin: 0;
}


